@model Project.Areas.Admin.Models.DTOs.EmployeeDto

@{
    ViewData["Title"] = "Chỉnh sửa thông tin nhân sự";
    Layout = "~/Views/Shared/_mainAdminLayout.cshtml";
}

<div class="overlay" id="loadingOverlay">
    <span class="animate-spin border-8 border-[#f1f2f3] border-l-primary rounded-full w-14 h-14 inline-block align-middle"></span>
</div>

<form id="myForm" method="post" enctype="multipart/form-data" asp-action="Edit">
    @Html.AntiForgeryToken()
    <input type="hidden" id="Id" name="Id" value="@ViewBag.EmployeeId" />

    <div x-data="editData">
        <ul class="flex space-x-2 rtl:space-x-reverse">
            <li>
                <a href="javascript:;" class="text-primary hover:underline">Nhân sự</a>
            </li>
            <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
                <span>Chỉnh sửa</span>
            </li>
        </ul>
        <div class="pt-5 flex flex-col gap-2.5 xl:flex-row">
            <div class="panel flex-1 px-0 py-6 ltr:lg:mr-6 rtl:lg:ml-6">
                <div class="px-6">
                    <div class="text-lg font-semibold mb-6">Thêm thông tin nhân sự</div>
                    <div class="flex flex-col lg:flex-row gap-6">
                        <div class="w-full lg:max-w-full p-4 rounded-lg shadow-sm">
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">
                                <div class="w-full sm:w-1/2">
                                    <label for="Code" class="block text-sm font-medium text-gray-700">Mã nhân sự</label>
                                    <input id="Code" type="text" name="Code" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập mã nhân sự" value="@Model.Code" oninput="this.value = this.value.toUpperCase()" readonly />
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="Name" class="block text-sm font-medium text-gray-700">Tên nhân sự</label>
                                    <input id="Name" type="text" name="Name" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập họ tên nhân sự" value="@Model.Name" />
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">
                                <div class="w-full sm:w-1/2">
                                    <label for="EmployeeCategoryId" class="block text-sm font-medium text-gray-700">Loại nhân sự</label>
                                    <div class="select-wrapper">
                                        <select id="EmployeeCategoryId" name="EmployeeCategoryId" class="form-input w-full mt-1 p-2 border rounded">
                                            <option value="">Chọn loại nhân sự</option>
                                            @foreach (var category in ViewBag.EmployeeCategories)
                                            {
                                                if (category.Id == Model.EmployeeCategoryId)
                                                {
                                                    <option value="@category.Id" selected>@category.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.EmployeeCategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="DepartmentId" class="block text-sm font-medium text-gray-700">Nhân sự thuộc Khoa</label>
                                    <div class="select-wrapper">
                                        <select id="DepartmentId" name="DepartmentId" class="form-input w-full mt-1 p-2 border rounded">
                                            <option value="">Chọn Khoa</option>
                                            @foreach (var dep in ViewBag.Departments)
                                            {
                                                if (dep.Id == Model.DepartmentId)
                                                {
                                                    <option value="@dep.Id" selected>@dep.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@dep.Id">@dep.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">

                                <div class="w-full sm:w-1/2">
                                    <label for="Gender" class="block text-sm font-medium text-gray-700">Giới tính</label>
                                    <div class="select-wrapper">
                                        <select id="Gender" name="Gender" class="form-input w-full mt-1 p-2 border rounded">
                                            <option value="">Chọn loại giới tính</option>
                                            @foreach (var gender in ViewBag.GenderOptions)
                                            {
                                                if (gender.Value == (int)Model.Gender)
                                                {
                                                    <option value="@gender.Value" selected>@gender.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@gender.Value">@gender.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="DateOfBirth" class="block text-sm font-medium text-gray-700">Ngày sinh</label>
                                    <input id="DateOfBirth" type="text" name="DateOfBirth" class="form-input w-full mt-1 p-2 border rounded flatpickr" placeholder="Nhập sinh" value="@Model.DateOfBirth.ToString("dd/MM/yyyy")" />
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="IdentityNumber" class="block text-sm font-medium text-gray-700">Căn cước công dân</label>
                                    <input id="IdentityNumber" type="text" name="IdentityNumber" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập căn cước công dân" value="@Model.IdentityNumber" />
                                    @Html.ValidationMessageFor(model => model.IdentityNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">
                                <div class="w-full">
                                    <label for="Address" class="block text-sm font-medium text-gray-700">Địa chỉ</label>
                                    <input id="Address" type="text" name="Address" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập địa chỉ" value="@Model.Address" />
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">
                                <div class="w-full sm:w-1/2">
                                    <label for="PhoneNumber" class="block text-sm font-medium text-gray-700">Số điện thoại</label>
                                    <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập số điện thoại" value="@Model.PhoneNumber" />
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                                    <input id="Email" type="text" name="EmailAddress" class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập email" value="@Model.EmailAddress" />
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row gap-4 mb-4">
                                <div class="w-full sm:w-1/2">
                                    <label class="block text-sm font-medium text-gray-700">Thông tin bằng cấp</label>
                                    <div class="select-wrapper">
                                        <select id="Degree" name="Degree" class="form-input w-full mt-1 p-2 border rounded">
                                            <option value="">Chọn bằng cấp</option>
                                            @foreach (var degree in ViewBag.DegreeOptions)
                                            {
                                                if (degree.Value == (int)Model.Degree)
                                                {
                                                    <option value="@degree.Value" selected>@degree.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@degree.Value">@degree.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                                </div>
                                <div class="w-full sm:w-1/2">
                                    <label class="block text-sm font-medium text-gray-700">Thông tin trình độ chuyên môn</label>
                                    <div class="select-wrapper">
                                        <select id="ProfessionalQualification" name="ProfessionalQualification" class="form-input w-full mt-1 p-2 border rounded">
                                            <option value="">Chọn trình độ chuyên môn</option>
                                            @foreach (var pq in ViewBag.ProfessionalOptions)
                                            {
                                                if (pq.Value == (int)Model.ProfessionalQualification)
                                                {
                                                    <option value="@pq.Value" selected>@pq.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@pq.Value">@pq.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ProfessionalQualification, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 w-full xl:mt-0 xl:w-96">
                <div class="panel mb-5">
                    <div>
                        <label class="block text-sm font-medium text-gray-700 form-label">Hình ảnh nhân sự</label>
                        <div class="dropzone flex-1" id="imageDropzone"></div>
                        @if (!string.IsNullOrEmpty(ViewBag.ExistingImage))
                        {
                            <label for="fileInput" class="change-image-btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.5 10C9.32843 10 10 9.32843 10 8.5C10 7.67157 9.32843 7 8.5 7C7.67157 7 7 7.67157 7 8.5C7 9.32843 7.67157 10 8.5 10Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0055 2H12.9945C14.3805 1.99999 15.4828 1.99999 16.3716 2.0738C17.2819 2.14939 18.0575 2.30755 18.7658 2.67552C19.8617 3.24477 20.7552 4.1383 21.3245 5.23415C21.6925 5.94253 21.8506 6.71811 21.9262 7.62839C22 8.5172 22 9.61946 22 11.0054V12.9945C22 13.6854 22 14.306 21.9909 14.8646C22.0049 14.9677 22.0028 15.0726 21.9846 15.175C21.9741 15.6124 21.9563 16.0097 21.9262 16.3716C21.8506 17.2819 21.6925 18.0575 21.3245 18.7658C20.7552 19.8617 19.8617 20.7552 18.7658 21.3245C18.0575 21.6925 17.2819 21.8506 16.3716 21.9262C15.4828 22 14.3805 22 12.9946 22H11.0055C9.61955 22 8.5172 22 7.62839 21.9262C6.71811 21.8506 5.94253 21.6925 5.23415 21.3245C4.43876 20.9113 3.74996 20.3273 3.21437 19.6191C3.20423 19.6062 3.19444 19.5932 3.185 19.5799C2.99455 19.3238 2.82401 19.0517 2.67552 18.7658C2.30755 18.0575 2.14939 17.2819 2.0738 16.3716C1.99999 15.4828 1.99999 14.3805 2 12.9945V11.0055C1.99999 9.61949 1.99999 8.51721 2.0738 7.62839C2.14939 6.71811 2.30755 5.94253 2.67552 5.23415C3.24477 4.1383 4.1383 3.24477 5.23415 2.67552C5.94253 2.30755 6.71811 2.14939 7.62839 2.0738C8.51721 1.99999 9.61949 1.99999 11.0055 2ZM20 11.05V12.5118L18.613 11.065C17.8228 10.2407 16.504 10.2442 15.7182 11.0727L11.0512 15.9929L9.51537 14.1359C8.69326 13.1419 7.15907 13.1746 6.38008 14.2028L4.19042 17.0928C4.13682 16.8463 4.09606 16.5568 4.06694 16.2061C4.0008 15.4097 4 14.3905 4 12.95V11.05C4 9.60949 4.0008 8.59025 4.06694 7.79391C4.13208 7.00955 4.25538 6.53142 4.45035 6.1561C4.82985 5.42553 5.42553 4.82985 6.1561 4.45035C6.53142 4.25538 7.00955 4.13208 7.79391 4.06694C8.59025 4.0008 9.60949 4 11.05 4H12.95C14.3905 4 15.4097 4.0008 16.2061 4.06694C16.9905 4.13208 17.4686 4.25538 17.8439 4.45035C18.5745 4.82985 19.1702 5.42553 19.5497 6.1561C19.7446 6.53142 19.8679 7.00955 19.9331 7.79391C19.9992 8.59025 20 9.60949 20 11.05ZM6.1561 19.5497C5.84198 19.3865 5.55279 19.1833 5.295 18.9467L7.97419 15.4106L9.51005 17.2676C10.2749 18.1924 11.6764 18.24 12.5023 17.3693L17.1693 12.449L19.9782 15.3792C19.9683 15.6812 19.9539 15.9547 19.9331 16.2061C19.8679 16.9905 19.7446 17.4686 19.5497 17.8439C19.1702 18.5745 18.5745 19.1702 17.8439 19.5497C17.4686 19.7446 16.9905 19.8679 16.2061 19.9331C15.4097 19.9992 14.3905 20 12.95 20H11.05C9.60949 20 8.59025 19.9992 7.79391 19.9331C7.00955 19.8679 6.53142 19.7446 6.1561 19.5497Z" fill="#ffffff"></path> </g></svg>
                                Thay đổi ảnh
                            </label>
                        }
                        <input type="file" id="fileInput" accept="image/*">
                    </div>
                    <div class="mt-4">
                        <label class="block text-sm font-medium text-gray-700">Thông tin ngày bắt đầu làm việc</label>
                        <input id="StartDate" type="text" name="StartDate" class="form-input w-full mt-1 p-2 border rounded flatpickr" placeholder="Nhập ngày bắt đầu làm" value="@Model.StartDate.ToString("dd/MM/yyyy")" />
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="mt-4">
                        <label class="block text-sm font-medium text-gray-700">Trạng thái làm việc</label>
                        <div class="select-wrapper">
                            <select id="Status" name="Status" class="form-input w-full mt-1 p-2 border rounded">
                                <option value="">Chọn trạng thái làm việc</option>
                                @foreach (var status in ViewBag.StatusOptions)
                                {
                                    if (status.Value == (int)Model.Status)
                                    {
                                        <option value="@status.Value" selected>@status.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@status.Value">@status.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
                <div class="panel">
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-1">
                        <button type="button" @@click="update()" class="btn btn-success py-2 bg-green-600 text-white rounded-lg flex items-center gap-2 hover:bg-green-700">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                <path d="M3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 11.6585 22 11.4878 21.9848 11.3142C21.9142 10.5049 21.586 9.71257 21.0637 9.09034C20.9516 8.95687 20.828 8.83317 20.5806 8.58578L15.4142 3.41944C15.1668 3.17206 15.0431 3.04835 14.9097 2.93631C14.2874 2.414 13.4951 2.08581 12.6858 2.01515C12.5122 2 12.3415 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355Z" stroke="white" stroke-width="1.5"></path>
                                <path d="M17 22V21C17 19.1144 17 18.1716 16.4142 17.5858C15.8284 17 14.8856 17 13 17H11C9.11438 17 8.17157 17 7.58579 17.5858C7 18.1716 7 19.1144 7 21V22" stroke="white" stroke-width="1.5"></path>
                                <path opacity="0.5" d="M7 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                            Cập nhật
                        </button>
                        <button type="button" class="btn btn-secondary w-full py-2 bg-gray-500 text-white rounded-lg flex items-center gap-2 hover:bg-gray-600" @@click="goBack()">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                <path d="M4 10L3.29289 10.7071L2.58579 10L3.29289 9.29289L4 10ZM21 18C21 18.5523 20.5523 19 20 19C19.4477 19 19 18.5523 19 18L21 18ZM8.29289 15.7071L3.29289 10.7071L4.70711 9.29289L9.70711 14.2929L8.29289 15.7071ZM3.29289 9.29289L8.29289 4.29289L9.70711 5.70711L4.70711 10.7071L3.29289 9.29289ZM4 9L14 9L14 11L4 11L4 9ZM21 16L21 18L19 18L19 16L21 16ZM14 9C17.866 9 21 12.134 21 16L19 16C19 13.2386 16.7614 11 14 11L14 9Z" fill="white" />
                            </svg>
                            Trở về
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    Dropzone.autoDiscover = false;

    $.validator.addMethod("customPattern", function(value, element, regex) {
        return this.optional(element) || regex.test(value);
    }, "Giá trị không hợp lệ.");

    $.validator.addMethod("over18", function(value, element) {
        if (!/^\d{2}\/\d{2}\/\d{4}$/.test(value)) {
            return false;
        }
        var dob = new Date(value.split("/").reverse().join("-"));
        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        var monthDiff = today.getMonth() - dob.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
            age--;
        }
        return age >= 18;
    }, "Nhân sự phải trên 18 tuổi.");

    $.validator.addMethod("dateFormat", function(value, element) {
        return this.optional(element) || /^\d{2}\/\d{2}\/\d{4}$/.test(value);
    }, "Vui lòng nhập ngày hợp lệ (dd/mm/yyyy).");

    document.addEventListener('alpine:init', () => {
        Alpine.data('editData', () => ({
            dropzone: null,

            init() {
                $('select').on('focus', function() {
                    $(this).trigger('click');
                });
                const fileInput = document.getElementById('fileInput');
                fileInput.addEventListener('change', (event) => {
                    const file = event.target.files[0];
                    if (file) {
                        if (this.dropzone.files.length > 0) {
                            this.dropzone.removeAllFiles();
                        }
                        this.dropzone.addFile(file);
                    }
                });

                this.setupDropzone();
                this.setupValidation();
                this.setupDateTimePicker();
                this.setupChoices();
            },

            setupChoices() {
                const selectElements = document.querySelectorAll('select.form-input');
                selectElements.forEach(select => {
                    new Choices(select, {
                        searchEnabled: true,
                        searchPlaceholderValue: 'Tìm kiếm...',
                        removeItemButton: true,
                        noResultsText: 'Không tìm thấy kết quả',
                        noChoicesText: 'Không có lựa chọn nào',
                    });
                });
            },

            setupDateTimePicker() {
                flatpickr('.flatpickr', {
                    dateFormat: "d/m/Y",
                    allowInput: true
                });
            },

            setupDropzone() {
                const self = this;
                this.dropzone = new Dropzone('#imageDropzone', {
                    url: '/Admin/Employees/Edit',
                    autoProcessQueue: false,
                    maxFiles: 1,
                    acceptedFiles: 'image/*',
                    addRemoveLinks: false,
                    dictDefaultMessage: 'Kéo thả hoặc nhấp để chọn ảnh',
                    paramName: 'ImageFile',
                    init: function () {
                        const existingImage = '@ViewBag.ExistingImage';
                        if (existingImage) {
                            const mockFile = { name: existingImage, size: 12345, accepted: true };
                            this.emit('addedfile', mockFile);
                            this.emit('thumbnail', mockFile, `/Images/Employees/${existingImage}`);
                            this.files.push(mockFile);
                        }

                        this.on('addedfile', (file) => {
                            if (this.files.length > 1) {
                                this.removeFile(this.files[0]);
                            }
                        });

                        this.on('sending', (file, xhr, formData) => {
                            self.appendFormData(formData);
                        });
                        this.on('success', (file, response) => {
                            self.handleResponse(response);
                        });
                        this.on('error', (file, errorMessage) => {
                            notyf.error("Có lỗi xảy ra: " + errorMessage);
                        });
                    }
                });
            },

            setupValidation() {
                $("#myForm").validate({
                    ignore: [],
                    rules: {
                        Code: {
                            required: true,
                            minlength: 4,
                            maxlength: 10,
                            remote: {
                                url: "/api/validation/employee/check-code",
                                type: "GET",
                                data: {
                                    entityType: "employee",
                                    code: function() { return $("#Code").val(); },
                                    id: function() { return $("#Id").val(); }
                                }
                            }
                        },
                        Name: {
                            required: true,
                            minlength: 6,
                            maxlength: 20,
                            customPattern: /^[A-Za-zÀ-ỹ][A-Za-zÀ-ỹ0-9 ]*$/,
                            remote: {
                                url: "/api/validation/employee/check-name",
                                type: "GET",
                                data: {
                                    entityType: "employee",
                                    name: function() { return $("#Name").val(); },
                                    id: function() { return $("#Id").val(); }
                                }
                            }
                        },
                        Gender: {
                            required: true,
                        },
                        DateOfBirth: {
                            required: true,
                            dateFormat: true,
                            over18: true
                        },
                        IdentityNumber: {
                            required: true,
                            minlength: 9,
                            maxlength: 12,
                            customPattern: /^[0-9]*$/
                        },
                        Address: {
                            required: true,
                            maxlength: 500
                        },
                        Email: {
                            required: true,
                            email: true
                        },
                        PhoneNumber: {
                            required: true,
                            minlength: 10,
                            maxlength: 15,
                            customPattern: /^[0-9]*$/
                        },
                        Degree: {
                            required: true
                        },
                        ProfessionalQualification: {
                            required: true
                        },
                        Status: {
                            required: true
                        },
                        StartDate: {
                            required: true,
                            dateFormat: true
                        },
                        EmployeeCategoryId: {
                            required: true
                        },
                        DepartmentId: {
                            required: true
                        }
                    },
                messages: {
                    Code: {
                        required: "Mã thuốc không được bỏ trống.",
                        minlength: "Mã phải có ít nhất 4 ký tự.",
                        maxlength: "Mã không được vượt quá 10 ký tự.",
                        remote: "Mã thuốc này đã tồn tại."
                    },
                    Name: {
                        required: "Tên thuốc không được bỏ trống.",
                        minlength: "Tên phải có ít nhất 6 ký tự.",
                        maxlength: "Tên không được vượt quá 50 ký tự.",
                        customPattern: "Tên phải bắt đầu bằng chữ cái và chỉ chứa chữ cái, số hoặc khoảng trắng.",
                        remote: "Tên thuốc này đã tồn tại."
                    },
                    Gender: {
                        required: "Giới tính không được bỏ trống",
                    },
                    DateOfBirth: {
                        required: "Ngày sinh không được bỏ trống.",
                        dateFormat: "Ngày sinh không hợp lệ.",
                        over18: "Nhân sự phải trên 18 tuổi."
                    },
                    IdentityNumber: {
                        required: "Căn cước công dân không được bỏ trống",
                        minlength: "Căn cước công dân có ít nhất 9 số",
                        maxlength: "Căn cước công dân không vượt quá 12 số",
                        customPattern: "Căn cước công dân không hợp lệ."
                    },
                    Address: {
                        required: "Địa chỉ không được bỏ trống",
                        maxlength: "Địa chỉ không được vượt quá 500 ký tự"
                    },
                    Email: {
                        required: "Email không được bỏ trống.",
                        email: "Email không hợp lệ."
                    },
                    PhoneNumber: {
                        required: "Số điện thoại không được bỏ trống.",
                        minlength: "Số điện thoại phải có ít nhất 10 ký tự.",
                        maxlength: "Số điện thoại không được vượt quá 15 ký tự.",
                        customPattern: "Số điện thoại không hợp lệ."
                    },
                    Degree: {
                        required: "Bằng cấp không được bỏ trống."
                    },
                    ProfessionalQualification: {
                        required: "Trình độ chuyên môn không được bỏ trống."
                    },
                    Status: {
                        required: "Trạng thái làm việc không được bỏ trống."
                    },
                    StartDate: {
                        required: "Ngày bắt đầu làm không được bỏ trống.",
                        dateFormat: "Ngày bắt đầu làm không hợp lệ."
                    },
                    EmployeeCategoryId: {
                        required: "Loại nhân sự không được bỏ trống."
                    },
                    DepartmentId: {
                        required: "Khoa không được bỏ trống."
                    }
                },
                    errorElement: "div",
                    errorClass: "text-danger",
                    highlight: function (element) {
                        if ($(element).is('select')) {
                            const choicesContainer = $(element).closest('.select-wrapper').find('.choices__inner');
                            choicesContainer.addClass("border-red-500");
                        } else {
                            $(element).addClass("border-red-500");
                        }
                    },
                    unhighlight: function (element) {
                        if ($(element).is('select')) {
                            const choicesContainer = $(element).closest('.select-wrapper').find('.choices__inner');
                            choicesContainer.removeClass("border-red-500");
                        } else {
                            $(element).removeClass("border-red-500");
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.is('select')) {
                            const wrapper = element.closest('.select-wrapper');
                            if (wrapper.length) {
                                error.insertAfter(wrapper);
                            } else {
                                error.insertAfter(element);
                            }
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    onfocusout: function(element) {
                        if ($(element).val() === '' || $(element).val().length > 0) {
                            this.element(element);
                        }
                    },
                    onkeyup: false
                });
                $('select.form-input').on('change', function() {
                    $(this).valid();
                });
            },

            appendFormData(formData) {
                formData.append('Id', document.querySelector('input[name="Id"]').value);
                formData.append('Code', document.getElementById('Code').value);
                formData.append('Name', document.getElementById('Name').value);
                formData.append('DateOfBirth', document.getElementById('DateOfBirth').value);
                formData.append('IdentityNumber', document.getElementById('IdentityNumber').value);
                formData.append('Gender', document.getElementById('Gender').value);
                formData.append('Address', document.getElementById('Address').value);
                formData.append('EmailAddress', document.getElementById('Email').value);
                formData.append('PhoneNumber', document.getElementById('PhoneNumber').value);
                formData.append('Degree', document.getElementById('Degree').value);
                formData.append('ProfessionalQualification', document.getElementById('ProfessionalQualification').value);
                formData.append('Status', document.getElementById('Status').value);
                formData.append('StartDate', document.getElementById('StartDate').value);
                formData.append('EmployeeCategoryId', document.getElementById('EmployeeCategoryId').value);
                formData.append('DepartmentId', document.getElementById('DepartmentId').value);
                const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
                formData.append('__RequestVerificationToken', token);
            },

            handleResponse(response) {
                const overlay = document.getElementById('loadingOverlay');
                if (response.success) {
                    overlay.style.display = 'flex';
                    notyf.success(response.message);
                    setTimeout(() => {
                        window.location.href = '/Admin/Employees/';
                    }, 2000);
                } else {
                    overlay.style.display = 'none';
                    notyf.error(response.message);
                    if (response.errors) {
                        response.errors.forEach(error => notyf.error(error));
                    }
                }
            },

            update() {
                const form = document.getElementById('myForm');
                if ($("#myForm").valid()) {
                    const overlay = document.getElementById('loadingOverlay');
                    overlay.style.display = 'flex';

                    const id = document.querySelector('input[name="Id"]').value;

                    if (this.dropzone.files.length > 0 && this.dropzone.getQueuedFiles().length > 0) {
                        this.dropzone.processQueue();
                    } else {
                        const formData = new FormData(form);
                        formData.append('Id', id);
                        fetch('/Admin/Employees/Edit', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(this.handleResponse)
                        .catch(error => {
                            overlay.style.display = 'none';
                            notyf.error("Có lỗi xảy ra khi gửi yêu cầu: " + error);
                        });
                    }
                }
                else {
                    notyf.error("Vui lòng kiểm tra lại thông tin đã nhập.");
                }
            },

            goBack() {
                window.location.href = '/Admin/Employees/';
            }
        }));
    });
</script>