@model Project.Areas.Staff.Models.DTOs.ReceptionDTO.ReceptionDto
@using Project.Models.Enums

<div class="pt-5 flex flex-col gap-2.5 xl:flex-row" x-data="{ hasHealthInsurance: false }">
    <div class="panel flex-1 px-0 py-6 ltr:lg:mr-6 rtl:lg:ml-6">
        <div class="px-6">
            <div class="text-lg font-semibold mb-6">Thêm thông tin bệnh nhân</div>
            <div class="flex flex-col lg:flex-row gap-6">
                <div class="w-full lg:max-w-full p-4 rounded-lg shadow-sm">
                    <div class="flex flex-col sm:flex-row gap-4 mb-4">
                        <div class="w-full sm:w-1/2">
                            <label for="Code" class="block text-sm font-medium text-gray-700">Mã bệnh nhân</label>
                            <input id="Code" name="Code" class="form-input w-full mt-1 p-2 border rounded" readonly
                                value="@Model.Patient.Code" />
                            @Html.ValidationMessageFor(model => model.Patient.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="w-full sm:w-1/2">
                            <label for="Name" class="block text-sm font-medium text-gray-700">Họ tên bệnh nhân</label>
                            <input id="Name" name="Name" class="form-input w-full mt-1 p-2 border rounded"
                                placeholder="Nhập họ tên bệnh nhân" />
                            @Html.ValidationMessageFor(model => model.Patient.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-4 mb-4">
                        <div class="w-full sm:w-1/2">
                            <label for="Gender" class="block text-sm font-medium text-gray-700">Giới tính</label>
                            <div class="select-wrapper">
                                <div class="select-wrapper">
                                    <select id="Gender" name="Gender" class="form-input w-full mt-1 p-2 border rounded">
                                        <option value="">Chọn giới tính</option>
                                        @foreach (var gender in ViewBag.GenderOptions)
                                        {
                                            <option value="@gender.Value">@gender.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Patient.Gender, "", new { @class = "text-danger"
                                                        })
                        </div>
                        <div class="w-full sm:w-1/2">
                            <label for="DateOfBirth" class="block text-sm font-medium text-gray-700">Ngày sinh</label>
                            <input id="DateOfBirth" name="DateOfBirth"
                                class="form-input w-full mt-1 p-2 border rounded flatpickr" placeholder="Nhập ngày sinh"
                                type="text" />
                            @Html.ValidationMessageFor(model => model.Patient.DateOfBirth, "", new { @class =
                                                        "text-danger" })
                        </div>
                        <div class="w-full sm:w-1/2">
                            <label for="IdentityNumber" class="block text-sm font-medium text-gray-700">Căn cước công
                                dân</label>
                            <input id="IdentityNumber" name="IdentityNumber"
                                class="form-input w-full mt-1 p-2 border rounded"
                                placeholder="Nhập căn cước công dân" />
                            @Html.ValidationMessageFor(model => model.Patient.IdentityNumber, "", new { @class =
                                                        "text-danger" })
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-4 mb-4">
                        <div class="w-full">
                            <label for="Address" class="block text-sm font-medium text-gray-700">Địa chỉ</label>
                            <input id="Address" name="Address" class="form-input w-full mt-1 p-2 border rounded"
                                placeholder="Nhập địa chỉ" />
                            @Html.ValidationMessageFor(model => model.Patient.Address, "", new { @class = "text-danger"
                                                        })
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-4 mb-4">
                        <div class="w-full sm:w-1/2">
                            <label for="PhoneNumber" class="block text-sm font-medium text-gray-700">Số điện
                                thoại</label>
                            <input id="PhoneNumber" name="PhoneNumber" class="form-input w-full mt-1 p-2 border rounded"
                                placeholder="Nhập số điện thoại" />
                            @Html.ValidationMessageFor(model => model.Patient.PhoneNumber, "", new { @class =
                                                        "text-danger" })
                        </div>
                        <div class="w-full sm:w-1/2">
                            <label for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                            <input id="Email" name="Email" class="form-input w-full mt-1 p-2 border rounded"
                                placeholder="Nhập email" />
                            @Html.ValidationMessageFor(model => model.Patient.EmailAddress, "", new { @class =
                                                        "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 w-full xl:mt-0 xl:w-96">
        <div class="panel mb-5">
            <div>
                <label class="block text-sm font-medium text-gray-700 form-label">Hình ảnh bệnh nhân</label>
                <div class="dropzone flex-1" id="imageDropzone"></div>
            </div>
        </div>
        <div class="panel mb-5">
            <label class="inline-flex cursor-pointer">
                <input type="checkbox" class="form-checkbox" name="HasHealthInsurance" x-model="hasHealthInsurance"
                    id="HasHealthInsurance" />
                <span class="text-sm font-medium text-gray-700 ml-2">Bệnh nhân có thẻ bảo hiểm y
                    tế</span>
            </label>
            <!-- Thông tin thẻ BHYT -->
            <div x-show="hasHealthInsurance" class="mt-5">
                <h6 class="mb-5 text-lg font-bold">Thông tin thẻ BHYT</h6>
                <div class="flex flex-col gap-4">
                    <div class="w-full">
                        <label for="HealthInsuranceNumber" class="block text-sm font-medium text-gray-700">Số
                            thẻ BHYT</label>
                        <input id="HealthInsuranceNumber" name="HealthInsuranceNumber"
                            class="form-input w-full mt-1 p-2 border rounded" placeholder="Nhập số thẻ BHYT" />
                        @Html.ValidationMessageFor(model => model.Patient.HealthInsuranceNumber, "", new {
                                                @class = "text-danger" })
                    </div>
                    <div class="w-full">
                        <label for="HealthInsuranceExpiryDate" class="block text-sm font-medium text-gray-700">Ngày hết
                            hạn</label>
                        <input id="HealthInsuranceExpiryDate" name="HealthInsuranceExpiryDate"
                            class="form-input w-full mt-1 p-2 border rounded flatpickr" placeholder="Nhập ngày hết hạn"
                            type="text" />
                        @Html.ValidationMessageFor(model => model.Patient.HealthInsuranceExpiryDate, "", new {
                                                @class = "text-danger" })
                    </div>
                    <div class="w-full">
                        <label for="HealthInsurancePlaceOfRegistration"
                            class="block text-sm font-medium text-gray-700">Nơi đăng ký khám bệnh</label>
                        <input id="HealthInsurancePlaceOfRegistration" name="HealthInsurancePlaceOfRegistration"
                            class="form-input w-full mt-1 p-2 border rounded"
                            placeholder="Nhập nơi đăng ký khám bệnh" />
                        @Html.ValidationMessageFor(model => model.Patient.HealthInsurancePlaceOfRegistration,
                                                "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>