@using System.Globalization
@model Project.Areas.BacSi.Models.ViewModels.PrescriptionViewModel
@{
    ViewData["Title"] = "Chi tiết đơn thuốc";
    Layout = "~/Views/Shared/_mainAdminLayout.cshtml";
}

<ul class="flex space-x-2 rtl:space-x-reverse">
    <li>
        <a href="javascript:;" class="text-primary hover:underline">Danh mục đơn thuốc</a>
    </li>
    <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
        <span>Xem chi tiết</span>
    </li>
</ul>

<div x-data="details">
    <div class="mb-3 mt-3 flex flex-wrap items-center justify-between gap-4">
        <div>
            <button type="button"
                class="btn btn-secondary w-full py-2 bg-gray-500 text-white rounded-lg flex items-center gap-2 hover:bg-gray-600"
                @@click="goBack()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5">
                    <path
                        d="M4 10L3.29289 10.7071L2.58579 10L3.29289 9.29289L4 10ZM21 18C21 18.5523 20.5523 19 20 19C19.4477 19 19 18.5523 19 18L21 18ZM8.29289 15.7071L3.29289 10.7071L4.70711 9.29289L9.70711 14.2929L8.29289 15.7071ZM3.29289 9.29289L8.29289 4.29289L9.70711 5.70711L4.70711 10.7071L3.29289 9.29289ZM4 9L14 9L14 11L4 11L4 9ZM21 16L21 18L19 18L19 16L21 16ZM14 9C17.866 9 21 12.134 21 16L19 16C19 13.2386 16.7614 11 14 11L14 9Z"
                        fill="white" />
                </svg>
                Trở về
            </button>
        </div>
    </div>
    <div class="panel">
        <div>
            <h6 class="mb-5 text-2xl font-bold">Thông tin chi tiết đơn thuốc: @Model.Code</h6>
            <hr class="mb-5">
            <div class="flex flex-col sm:flex-row">
                <div class="grid flex-1 grid-cols-1 gap-5 sm:grid-cols-2">
                    <div>
                        <label for="PrescriptionCode">Mã đơn thuốc</label>
                        <input id="PrescriptionCode" type="text" class="form-input" value="@Model.Code" readonly>
                    </div>
                    <div>
                        <label for="TreatmentRecordCode">Mã phiếu điều trị</label>
                        <input id="TreatmentRecordCode" type="text" value="@Model.TreatmentRecordCode" readonly
                            class="form-input" readonly>
                    </div>
                    <div>
                        <label for="PatientName">Tên bệnh nhân</label>
                        <input id="PatientName" type="text" value="@Model.PatientName" readonly class="form-input"
                            readonly>
                    </div>
                    <div>
                        <label for="PrescriptionDate">Ngày lập đơn</label>
                        <input id="PrescriptionDate" type="text"
                            value="@Model.PrescriptionDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)"
                            readonly class="form-input" readonly>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <label for="Note">Ghi chú đơn thuốc</label>
                <textarea id="Note" name="Note" class="form-textarea w-full mt-1 p-2 border rounded min-h-[150px]"
                    style="resize: none;"
                    readonly>@(string.IsNullOrWhiteSpace(Model.Note) ? "Không có ghi chú" : Model.Note)</textarea>
            </div>
            <div class="mt-5">
                <h6 class="mb-3 text-lg font-bold">Danh sách thuốc</h6>
                <div class="table-responsive">
                    <table class="table table-bordered w-full">
                        <thead>
                            <tr>
                                <th style="text-align: center; font-weight: bold;">Tên thuốc</th>
                                <th style="text-align: center; font-weight: bold;">Số lượng</th>
                                <th style="text-align: center; font-weight: bold;">Đơn giá</th>
                                <th style="text-align: center; font-weight: bold;">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PrescriptionDetails != null && Model.PrescriptionDetails.Any())
                            {
                                foreach (var item in Model.PrescriptionDetails)
                                {
                                    <tr>
                                        <td>@item.MedicineName</td>
                                        <td>@item.Quantity</td>
                                        <td>@((item.Price ?? 0).ToString("N0", CultureInfo.InvariantCulture)) VNĐ</td>
                                        <td>@(((item.Price ?? 0) * item.Quantity).ToString("N0", CultureInfo.InvariantCulture))
                                            VNĐ</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center">Không có thuốc nào trong đơn này</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="height: 50px;">
                                <td colspan="3" style="text-align: right; font-weight: bold;">Tổng cộng</td>
                                <td style="font-weight: bold;">@Model.TotalPrice.ToString("N0",
                                                                        CultureInfo.InvariantCulture) VNĐ</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row mt-5">
                <div class="grid flex-1 grid-cols-1 gap-5 sm:grid-cols-2">
                    <div>
                        <label for="createdDate">Ngày tạo</label>
                        <input id="createdDate" type="text"
                            value="@Model.CreatedDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" readonly
                            class="form-input">
                    </div>
                    <div>
                        <label for="createdBy">Nguời tạo</label>
                        <input id="createdBy" type="text" value="@Model.CreatedByName" readonly class="form-input">
                    </div>
                    <div>
                        <label for="UpdatedDate">Ngày chỉnh sửa</label>
                        <input id="UpdatedDate" type="text"
                            value="@(Model.UpdatedDate?.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) ?? "Không có")"
                            readonly class="form-input">
                    </div>
                    <div>
                        <label for="UpdatedBy">Nguời chỉnh sửa</label>
                        <input id="UpdatedBy" type="text" value="@(Model.UpdatedByName ?? "Không có")" readonly
                            class="form-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('details', () => ({
            goBack() {
                window.location.href = '/don-thuoc/';
            }
        }));
    });
</script>
